@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

img {
  vertical-align: middle;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}



.header-top {
  background: #F6F6F6;
  padding: 30px 0;
}

.header-top-inner {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 35px;
}

.logo-img {
  width: 276px;
  height: 45px;
}

.currency-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.currency-item {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555;
  margin-right: 25px;
}

.currency-span {
  font-weight: 700;
  color: #2959CE;
}

.languages {
  width: 70px;
  height: 36px;
  background: #DCE6FF;
  border-radius: 39px;
  padding: 3px;
  margin-right: 25px;
}

.languages-item {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #A6A6A6;
  text-decoration: none;
}

.active-languages {
  background-color: #fff;
  color: #000;
  padding: 8px;
  border-radius: 50%;
}

.site-login {
  padding: 13px 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 89px;
  height: 45px;
  background: #7296EC;
  border-radius: 10px;
}


.middle-title {
  border-bottom: 1px solid #D1D1D1;
  justify-content: space-between;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.middle-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.middle-link {
  display: inline-block;
  text-decoration: none;
  color: #7F7F7F;
}



.shopme-img {
  border-radius: 8px;
}


.news-inner {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  justify-content: space-between;
}

.main-news {
  width: 392px;
  height: 382px;
  background: #F6F6F6;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 20px 17px;
}

.li-news {
  padding-right: 30px;
}

.news-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}


.all {
  margin: 0;
  padding: 0;
}

.news-items {
  padding: 10px 0 15px;
}

.main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}

.news-div {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.news-text {
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}



.article-picture {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  width: 1050px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url('../images/article-bgc-img.png');
  background-position: calc(50%);
  align-items: center;
}

.article-text {
  margin-left: 29px;
  width: 404px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.article-link {
  padding: 13px 30px;
  background: #F78B3B;
  border-radius: 10px;
  margin-right: 101px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.news-list {
  display: flex;
}

.news-left {
  width: 797px;
}

.news-subject {
  margin: 0;
  margin: 60px 0 20px
}

.left-item {
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  background: #F6F6F6;
  border-radius: 15px;
}


.item-subtitle {
  margin-left: 15px;
  width: 535px;
}

.item-heading {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.heading-text {
  margin: 15px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}

.item-small {
  display: flex;
  align-items: center;
}

.small-text {
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}

.show-more-link {
  padding: 17px 0;
  text-align: center;
  display: block;
  background: #EAEAEA;
  border-radius: 10px;
  width: 796px;
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.news-right {
  margin-left: 10px;
}

.right-top {
  padding: 20px 20px 25px;
  border-radius: 15px;
  background: #F6F6F6;
  width: 393px;
  margin-bottom: 10px;
}

.right-caption {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.right-item {
  margin: 0;
  margin-top: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.right-text {
  padding-bottom: 20px;
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5E5F61;
}

.right-subtitle {
  border-bottom: 1px solid #D2D2D2;
}




.site-footer {
  padding: 40px 0;
  margin-top: 100px;
  background-color: #7297EF;
}

.footer-title {
  justify-content: space-between;
  display: flex;
  margin-top: 15px;
}

.title-left {
  width: 229px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
}

.middle-link {
  padding-bottom: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-span {
  display: block;
  height: 1px;
  background: #CECECE;
}

.footer-icons {
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.icons-left {
  width: 161px;
}

.icons-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.icons-right ul{
  display:flex;
}


.icons-networks {
  margin-left: 25px;
  display: flex;
}

